$background: #111307;
$text-primary: #f0f3dd;
$text-secondary: #c9ce9c;
$card-border: #2f2f2f;
$primary: #04f694;
$secondary: #99dbc4;
$accent: #aa3c62;
$special-color: linear-gradient(120deg, $secondary, $accent);
$border-color: rgba(255, 255, 255, 0.3);
